@model IEnumerable<LearningDDD.Presentation.ViewModels.HabitActivityViewModel>

@{
    ViewBag.Title = "HabitActivityView";
}

<h2>HabitActivityView</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HabitId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Completed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HabitId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Completed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HabitActivityId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HabitActivityId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HabitActivityId })
        </td>
    </tr>
}

</table>
