@model IEnumerable<LearningDDD.Presentation.ViewModels.HabitViewModel>

@{
    ViewBag.Title = "Hábitos";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.HabitId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.HabitId }) |
            @Html.ActionLink("Remover", "Delete", new { id=item.HabitId })
        </td>
    </tr>
}

</table>
